thirdparty/*
data/*
.vscode
pythonpath.sh
**/__pycache__/*
*.bin
*.pth
*.so
*.pkl

build/*
dist/*
pvrcnn.egg-info/*

notebooks/*
pvrcnn/summary/*
pvrcnn/eval/*
pvrcnn/core/viz_detections.py
*.pyc

images/proposals_*
notebooks/*
